@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Open+Sans&family=Raleway&family=Roboto&family=Source+Sans+Pro&display=swap");

* {
  box-sizing: border-box;
}

.center-text {
  text-align: center;
}

/* Reusable styles */
.center {
  margin-left: auto;
  margin-right: auto;
}

.width-sm {
  max-width: 20rem;
}

.width-lg {
  max-width: 60rem;
}

.stack-sm > * + * {
  margin-top: 0.5rem;
}

.stack-md > * + * {
  margin-top: 1rem;
}

.stack-lg > * + * {
  margin-top: 2rem;
}

.stack-xl > * + * {
  margin-top: 4rem;
}

.row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 4rem;
}

.justify-space-between {
  justify-content: space-between;
}
